.container{
  display: inline-block;
  float: right;
}

.button {
    background-color: #ffffff;
    border: none;
    color: rgb(156, 156, 156);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-weight: 600;
  }
  
  .btnContainer {
    display: flex;
    /* gap: 5px; */
    margin-right: 25px;
  }
  
  .button:hover {
    color: black;
  }
  
.profileImg {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  /* border: 1px solid lightgray; */
}

.userNickname {
    display: inline;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
}

/* 768px 이하 화면 크기에 대한 반응형 스타일 */
@media (max-width: 768px) {
    .button {
      font-size: 14px;
      padding: 4px 4px;
      margin: 4px 4px;
      width: 100%; /* 화면에 꽉 차도록 버튼 너비를 100%로 설정합니다. */
    }
  
    .btnContainer {
      flex-wrap: wrap;
      gap: 0.5rem; /* 버튼 사이의 수직 간격을 좀 더 줄입니다. */
      justify-content: space-around; /* 버튼 사이의 수평 간격이 상하좌우에서 동일하게 설정되도록 변경합니다. */
    }
  }

   .userInfoContainer *{
    vertical-align: middle;
   }

   .tootipText{
    padding: 5px;
    font-size: 14px;
  }
  
  .tootipText:hover {
     text-decoration: none;
      color: lightgray;
   }