.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .button:hover {
    background-color: #367b3f;
    color: white;
  }
  
.profileImg {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  border: 1px solid black;
}

.userNickname {
    display: inline;
}

/* 768px 이하 화면 크기에 대한 반응형 스타일 */
@media (max-width: 768px) {
    .button {
      font-size: 14px;
      padding: 4px 4px;
      margin: 4px 4px;
      width: 100%; 
    }
  
    .btnContainer {
      flex-wrap: wrap;
      gap: 0.5rem; 
      justify-content: space-around; 
    }
  }
  
  
  