.required-box {
  border: 1px solid green;
  padding: 12px;
  padding-top: 50px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  position:relative;
  width: calc(40% - (150px));
  display: flex; 
  flex-direction :column ; 
  justify-content:center; 
  align-items:center; 
}
  
.required-label {
  font-size: 18px;
  background-color: white;
  color: green;
  position:absolute;
  top: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 170px;
}

.preview-image {
  max-width: 40px;
}

.submit-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 170px;
}

.submit-button:hover {
  background-color: #4caf50;
  color: #C6FF70;
}

@media (max-width: 768px) {
  .required-box {
    width: 60%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  
.form-container {
    width: auto;
    margin-right: auto;
    margin-left: -30px; 
}
}
