.container{
  display: inline-block;
  float: right;
  position: relative;
  margin-top: 10px;
  margin-right: 180px;
}

.userInfoContainer{
  margin-right: auto;
}

.button {
    background-color: #ffffff;
    border: none;
    color: rgb(156, 156, 156);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    /* font-weight: 600; */
  }
  
  .btnContainer {
    display: flex;
  }
  
  .button:hover {
    color: black;
  }
  
.profileImg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  margin-top: 5px;
  /* border: 1px solid lightgray; */
}

/* 768px 이하 화면 크기에 대한 반응형 스타일 */
@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 4px 4px;
    margin: 4px 4px;
    width: 100%; 
  }

  .btnContainer {
    flex-wrap: wrap;
    gap: 0.5rem; 
    justify-content: space-around; 
  }
}

  .userInfoContainer *{
  vertical-align: middle;
  }

  .nickname{
  /* padding: 5px; */
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
  /* margin-right: 2px; */
}

.nickname:hover {
    text-decoration: none;
    /* color: lightgray; */
  }

.chatBtn {
  font-size: 15px;
  /* margin-left: 13px; */
}

.chatBtn:hover {
  color: lightgray;
  text-decoration: none;
}

.logoutBtn {
  /* margin-left: 1px; */
  font-size: 14px;
}

.logoutBtn:hover {
  color: lightgray;
  text-decoration: none;
}

.line{
  display: inline;
}