.chatMainContainer {
    height: 700px;
}

.chaList {
    /* display: inline-block; */
    float: left;
    width: 38%;
}

.chatRoom {
    margin-left: 5px;
     display: inline-block;
     width: 61%;
}

.outChatRoomDiv {
    background-color: rgb(246, 246, 246);
    height: 640px;
    border-radius: 10px;
    text-align: center;
}

.icon {
    color: rgb(177, 177, 177);
    font-size: 50px;
    margin-top: 35%;
}

.outChatRoomMsg {
    font-size: 30px;
    color: rgb(177, 177, 177);
}