.Paper {
    background-color: #f8f8f8; /* 회색 배경색 */
    border: 1px solid #e0e0e0; /* 회색 테두리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    border-radius: 4px; /* 둥근 테두리 */
}

.teamInfoContainer {
    display: flex; /* flexbox 사용 */
    align-items: center; /* 요소들을 세로 중앙 정렬 */
    gap: 10px; /* 이미지와 팀 정보 간격 설정 */
  }

.circularImageContainer {
    position: relative;
    display: inline-block;
  }
  
  .circularImage {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* 원 형태로 이미지를 렌더링하기 위해 border-radius 설정 */
    overflow: hidden; /* 부모 컨테이너를 벗어나는 부분은 보이지 않도록 설정 */
    margin-right: 10px; /* 이미지와 팀 이름 사이의 간격 설정 */
  }
  
  .circularImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* 필터 (TeamList) */
.filtes{
    width: 100%;
    flex-wrap: wrap; /* 요소들이 한 줄을 넘어가면 다음 줄로 내려가도록 설정 */
    display: flex; /* flex 컨테이너로 설정 */
    justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */
    align-items: center; /* 요소들을 수직 가운데로 정렬 */
    position: relative;
}

.areaFilter{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c1c1c1;
    padding: 5px ;
    border-radius: 3px;
    margin-left: 210px;
    cursor: pointer;
}

.recruitingFilter {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #c1c1c1;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-left: 10px;
    cursor: pointer;
}

/* 검색창(TeamSearch) */
.WholeBox{
    padding: 10px;
    margin-left: 470px;
}

.InputBox{
    width: 300px;
    height: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    z-index: 3;
    border-radius: 3px;
}

.InputBox:hover,.InputBox:focus-within {
    border: 1px solid #000000;
    padding: 10px;
}

.InputBox input[value="팀 이름 검색"] {
    color: rgb(114, 114, 114);
    align-items: center; 
    margin: 0 auto;
}

.Input {
    color: #000000;
    height: 20px;
    flex: 1 0 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.DeleteButton{
    cursor: pointer;
}

.DropDownBox{
    position: absolute;
    list-style-type: none;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: white;
    border: 2px solid #000000;
    border-top: none;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 3px 3px rgba(214, 214, 214, 0.3);
    z-index: 2
}

.DropDownItem{
    list-style-type: none;
    color: #000000;
    padding: 0 16px;
}

.DropDownItem:hover{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    font-Weight: bold;
}


.teamCreateLinkBtn{
    background-color: #1a921e;
    color: #fff;
    border: 2px solid #1a921e;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-left: 5px;
    display: inline-block; /* 레이블 요소를 인라인 블록으로 표시 */
    cursor: pointer;
}

.teamCreateLinkBtnWrapper a {
    text-decoration: none; /* 밑줄 제거 */
  }

.teamCreateLinkBtn:hover {
    color: #1a921e;
    background-color: rgb(255, 255, 255);
}



/* 팀 리스트 (TeamList) */
.teamCard {
    border-bottom: 1px solid #d5d5d5;
    padding: 1px;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 70%;
    cursor: pointer;
}

.teamCard:hover{
    background-color: rgb(239, 239, 239)

}
  
.teamProfileImg {
    width: 10px;
    height: auto;
    margin-right: 10px;
}
 
.teamRecruiting {
    color: red;
}
  

/* 내 팀 (MyTeam) */
.card{
    display: flex;
    align-items: center;
    border: 1px solid #b7b7b7;
    height: 250px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 70%;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

.card:hover{
    border: 2px solid #c8c8c8;
}

.myTeamCard{
    cursor: pointer;
}

.noticeCheckTeam{
    margin: 10px;
    color: #6d6d6d;
    cursor: pointer;
}

.noticeNoTeam{
    margin: 10px;
    color: #6d6d6d;
    cursor: pointer;
}

.noticeLogin{
    margin: 10px;
    color: #6d6d6d;
    cursor: pointer;
}


.loading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color:#8d8d8d
}
