/* 필터 (TeamList) */
.filtes{
    width: 100%;
    flex-wrap: wrap; /* 요소들이 한 줄을 넘어가면 다음 줄로 내려가도록 설정 */
    display: flex; /* flex 컨테이너로 설정 */
    justify-content: flex-start; /* 요소들을 왼쪽으로 정렬 */
    align-items: center; /* 요소들을 수직 가운데로 정렬 */
    position: relative;
}

.areaFilter{
    background-color: #ffffff;
    color: #1a921e;
    border: 2px solid #1a921e;
    padding: 5px ;
    border-radius: 3px;
    margin-left: 210px;
    cursor: pointer;
}

.recruitingBtn {
    background-color: #1a921e;
    color: #fff;
    border: 2px solid #1a921e;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-left: 10px;
    cursor: pointer;
}

.recruitingBtn:hover {
    color: #1a921e;
    background-color: rgb(255, 255, 255);
}

/* 검색참(TeamSearch) */
.WholeBox{
    padding: 10px;
    margin-left: 420px;
}

.InputBox{
    width: 300px;
    display: flex;
    flex-direction: row;
    border: 1px solid #1a921e;
    z-index: 3;
    border-radius: 3px;
}

.InputBox:hover,.InputBox:focus-within {
    border: 2px solid #1a921e;
    padding: 5px;
}

.InputBox input[value="팀 이름 검색"] {
    color: rgb(114, 114, 114);
    align-items: center; 
    margin: 0 auto;
}

.Input {
    color: #000000;
    flex: 1 0 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.DeleteButton{
    cursor: pointer;
}

.DropDownBox{
    position: absolute;
    list-style-type: none;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 8px 5px;
    background-color: white;
    border: 2px solid #1a921e;
    border-top: none;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 3px 3px rgba(0, 147, 10, 0.3);
    z-index: 4
}

.DropDownItem{
    list-style-type: none;
    color: #000000;
    padding: 0 16px;
}

.DropDownItem:hover{
    background-color: rgb(234, 245, 233);
    padding: 10px;
    font-Weight: bold;
}


.teamCreateLinkBtn{
    background-color: #1a921e;
    color: #fff;
    border: 2px solid #1a921e;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-left: 10px;
    display: inline-block; /* 레이블 요소를 인라인 블록으로 표시 */
    cursor: pointer;
}

.teamCreateLinkBtnWrapper a {
    text-decoration: none; /* 밑줄 제거 */
  }

.teamCreateLinkBtn:hover {
    color: #1a921e;
    background-color: rgb(255, 255, 255);
}




/* 팀 리스트 (TeamList) */
.teamCard {
    border: 1px solid #ababab;
    border-radius: 5px;
    padding: 1px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 70%;
    cursor: pointer;
}

.teamCard:hover{
    border: 2px solid #1a921e;
    background-color: rgb(234, 245, 233);

}
  
.teamProfileImg {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
 
.teamRecruiting {
    color: red;
}
  


/* 내 팀 (MyTeam) */
.myTeamCard{
    border: 2px solid #1a921e;
    border-radius: 5px;
    padding: 1px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 70%;
    cursor: pointer;
}

.myTeamCard:hover{
    border: 4px solid #1a921e;
    background-color: rgb(234, 245, 233);

}

.noticeCheckTeam{
    color: #1a921e;
}

.noticeNoTeam{
    color: #1a921e;
}

.noticeLogin{
    color: #1a921e;
}


.loading{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color:#8d8d8d
}
