@keyframes ldio-8hsef36ocyv {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }

.ldio-8hsef36ocyv div {
    position: absolute;
    animation: ldio-8hsef36ocyv linear 1.2048192771084336s infinite;
    background: #d3d3d3;
    width: 2.17px;
    height: 6.51px;
    border-radius: 1.085px / 2.2134px;
    transform-origin: 1.085px 31.465px;
  }
  
  .ldio-8hsef36ocyv div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1632737847943497s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(2) {
    transform: rotate(12.413793103448276deg);
    animation-delay: -1.1217282924802658s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(3) {
    transform: rotate(24.82758620689655deg);
    animation-delay: -1.080182800166182s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(4) {
    transform: rotate(37.241379310344826deg);
    animation-delay: -1.038637307852098s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(5) {
    transform: rotate(49.6551724137931deg);
    animation-delay: -0.9970918155380141s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(6) {
    transform: rotate(62.06896551724138deg);
    animation-delay: -0.9555463232239302s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(7) {
    transform: rotate(74.48275862068965deg);
    animation-delay: -0.9140008309098463s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(8) {
    transform: rotate(86.89655172413794deg);
    animation-delay: -0.8724553385957623s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(9) {
    transform: rotate(99.3103448275862deg);
    animation-delay: -0.8309098462816784s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(10) {
    transform: rotate(111.72413793103448deg);
    animation-delay: -0.7893643539675945s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(11) {
    transform: rotate(124.13793103448276deg);
    animation-delay: -0.7478188616535106s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(12) {
    transform: rotate(136.55172413793105deg);
    animation-delay: -0.7062733693394266s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(13) {
    transform: rotate(148.9655172413793deg);
    animation-delay: -0.6647278770253428s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(14) {
    transform: rotate(161.3793103448276deg);
    animation-delay: -0.6231823847112589s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(15) {
    transform: rotate(173.79310344827587deg);
    animation-delay: -0.5816368923971749s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(16) {
    transform: rotate(186.20689655172413deg);
    animation-delay: -0.540091400083091s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(17) {
    transform: rotate(198.6206896551724deg);
    animation-delay: -0.49854590776900704s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(18) {
    transform: rotate(211.0344827586207deg);
    animation-delay: -0.45700041545492315s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(19) {
    transform: rotate(223.44827586206895deg);
    animation-delay: -0.4154549231408392s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(20) {
    transform: rotate(235.86206896551724deg);
    animation-delay: -0.3739094308267553s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(21) {
    transform: rotate(248.27586206896552deg);
    animation-delay: -0.3323639385126714s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(22) {
    transform: rotate(260.6896551724138deg);
    animation-delay: -0.29081844619858743s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(23) {
    transform: rotate(273.1034482758621deg);
    animation-delay: -0.24927295388450352s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(24) {
    transform: rotate(285.51724137931035deg);
    animation-delay: -0.2077274615704196s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(25) {
    transform: rotate(297.9310344827586deg);
    animation-delay: -0.1661819692563357s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(26) {
    transform: rotate(310.3448275862069deg);
    animation-delay: -0.12463647694225176s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(27) {
    transform: rotate(322.7586206896552deg);
    animation-delay: -0.08309098462816784s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(28) {
    transform: rotate(335.17241379310343deg);
    animation-delay: -0.04154549231408392s;
    background: #d3d3d3;
  }.ldio-8hsef36ocyv div:nth-child(29) {
    transform: rotate(347.58620689655174deg);
    animation-delay: 0s;
    background: #d3d3d3;
  }
  .loadingio-spinner-spinner-oj9ms3ro1ym {
    overflow: hidden;
    background: #ffffff;
    margin-left: 4%;
  }