/* detail */
.applyButton{
    background-color: #1a921e;
    color: #fff;
    border: 2px solid #1a921e;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 오버레이 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달 창이 다른 컨텐츠 위에 뜸*/
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    width: 400px;
    text-align: center;
}


/* TeamDetail */
.container {
    width: 80%;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    padding: 30px;
}
  
.leftContainer {
    width: 30%;
    padding-bottom: 10px;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(196, 196, 196, 0.3);
}
  
.teamInfo1{
    padding-left: 15px;
}

.teamIntroduce {
    padding: 30px;
    width: 300px;
    border: 1px solid #cccccc;
    flex-grow: 1;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(196, 196, 196, 0.3);
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.teamIntroduceContent.expanded {
    max-height: none;
    overflow: auto;
}

.recruitingBtn{
    text-align: center; /* 텍스트 가운데 정렬 */
    padding-bottom: 10px;
}

.recruitingTrueBtn{
    background-color: #1a921e;
    color: #fff;
    border: 1px solid #1a921e;
    transition: background-color 0.3s;
    width: 320px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
}

.recruitingTrueBtn:hover{
    color: #1a921e;
    background-color: rgb(255, 255, 255);
}

.recruitingFalseBtn{
    width: 320px;
    height: 50px;
    border-radius: 3px;
}
  
/* 가입신청 모달 */
.teamName{
    font-Weight: bold;
}

.applyBtn{
    background-color: #1a921e;
    border: 1px solid #1a921e;
    color: #fff;
    top: 10px;
    right: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.applyBtn:hover{
    color: #1a921e;
    background-color: rgb(255, 255, 255);
}

.closeBtn {
    background-color: #1a921e;
    border: 1px solid #1a921e;
    color: #fff;
    top: 10px;
    right: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.closeBtn:hover{
    color: #1a921e;   
    background-color: rgb(255, 255, 255);
}

.okBtn{
    background-color: #1a921e;
    border: 1px solid #1a921e;
    color: #fff;
    top: 10px;
    right: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.okBtn:hover{
    color: #1a921e;   
    background-color: rgb(255, 255, 255);
}


/* 실패 모달(failModal) */
.failModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.failModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
  
/* 내 팀 디테일(myTeamDetail) */
.myTeamContainer{
    width: 100%;
    display: flex;
    width: 80%;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    padding: 30px;
}

.myTeamLeftContainer {
    width: 40%;
    padding-bottom: 10px;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(196, 196, 196, 0.3);
}

.myTeamInfoContainer{
    padding-left: 15px;
}

.myTeamRightContainer{
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-shadow: 0 3px 3px rgba(196, 196, 196, 0.3);
}

.myTeamFilters{
    margin: 30px;
}

.myTeamInfoFilter{
    background-color: #ffffff;
    color: #000000;
    margin-right: 2px;
    font-size: large;
    border: none;
    cursor: pointer;
}

.myTeamInfoFilter:hover{
    font-weight: bold;
}

.myTeamMatchFilter{
    background-color: #ffffff;
    color: #000000;
    margin-right: 2px;
    font-size: large;
    border: none;
    cursor: pointer;
}

.myTeamMatchFilter:hover{
    font-weight: bold;
}

.myTeamMemberFilter{
    background-color: #ffffff;
    color: #000000;
    margin-right: 2px;
    font-size: large;
    border: none;
    cursor: pointer;
}

.myTeamMemberFilter:hover{
    font-weight: bold;
}

.activeTab {
    font-weight: bold;
}

.teamDetailUpdateBtn{
    background-color: #1a921e;
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px #1a921e;
    width: 450px;
    height: 50px;
    font-size: 15px;
}

.teamDetailUpdateBtn:hover{
    background-color: #fff;
    color: #1a921e;
}

.myTeamBox {
    margin-left: 20px;
    padding-left: 20px;
    width: 600px;
    flex-grow: 1;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.myTeamIntroduce{
    margin-top: 30px;
    font-size: 20px;
}

/* 모달 전체 적용 
.closeBtn {
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}
*/
