
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    position: relative;
  }

  .buttonContainer {
    text-align: center;
    margin-top: 15px;
  }
  .listButton {
    padding: 5px 10px;
    margin: 5px;
    background-color: #108b0c;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }