.timeline {
  justify-content: center;
  align-items: center;
  margin-top: 60px; /* 세로 위치 조정 */
}

/* 가로 위치 조정 */
.timeline-date-item {
  display: inline-block;
  margin-left: 30px;  
  margin-right: 30px;
  cursor: pointer;
  transition: all 0.3s ease; 
}


/* 약 768px 이하의 화면 크기에 대한 스타일 */
@media only screen and (max-width: 768px) {
  .timeline-date-item {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* 약 480px 이하의 화면 크기에 대한 스타일 */
@media only screen and (max-width: 480px) {
  .timeline-date-item {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.timeline-date-item:active {
  transform: scale(1.5); 
}

.prev-date-btn,
.next-date-btn {
  padding: 0 6px;
  margin: 0;
  background: transparent;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.saturday div:last-child {
color: blue;
}

.sunday div:last-child {
color: red;
}

.selected-date {
/* background-color: #63CC63;  */
background-color: #b3e0b3; 
border-radius: 10px; 
box-shadow: 0px 0px 10px rgba(0,0,0,.1); 
padding: 15px;
}

.month-changed {
border-left: 1px solid #000; 
}

.month-changed:before {
content: "";
position: absolute;
height: 50%; 
border-left: 2px solid #000; 
left: -10px; 
}

.filter {
margin: 20px;
align-self: center;
margin-right: 45%;
}