.logo{
    width: 200px;
    height: 200px;
}

.logoSection {
    width: 100%;
    text-align: center;
}

.passShowBtn{
    border: none;
    background: none;
}

.key {
    margin-top: 15px;
    font-size: 30px;
    color: green;
    margin-left: 5px;
}

.checkKey {
    margin-top: 30px;
    font-size: 30px;
    color: green;
    margin-left: 5px;
}

.section {
    margin-left: 37%;
    width: 50%;
}

.input {
    width: 53%;
}

.chageBtn {

}

.changeBtnDiv {
    margin-top: 10px;
    margin-left: 37%;
}

.changeBtn:hover {
    color: black;
}
