.container {
    display: inline-block;
    position: absolute;
    margin-left: 5%;
    font-family: 'Orbit', sans-serif;
    width: 75%
}

.gridDiv {
    width: 100%;
}

.gridDiv *::-webkit-scrollbar {
    background: rgb(241, 241, 241);
    border: none;
    height: 10px;
}

.gridDiv *::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 20px;
}

div ul{
    display: block;
}

.modalDeleteBtn {
    background: none;
    border: none;
    font-weight: 600;
    color: black;
    font-size: 15px;
}   

.modalDeleteBtn:hover {
    color: lightgray;
}

.postImage {
    max-width: 100%;
    width: 500px;
    height: auto;
    margin: 10px 0;
}

.postDetailContainer {
    text-align: center;
    padding: 20px;
    border: 2px solid black
}

/* board */
.title:hover {
    color: lightgray;
}

.content {
    font-size: 15px;
}

.content > a {
    font-size: 20px;
    margin-left: 10px;
}

.content > a:hover{
    color: lightgray;
}

.dropDownTr {
    text-align: center;
}

.dropDownTd {
    padding: 50px;
}

.reason {
    width: 98%;
    resize: none;
    padding: 10px;
    font-size: 15px;
    outline: 1px solid black;
}

.dropDownText {
    font-size: 20px;
    font-weight: 600;
}

.closeBtn {
    float: right;
    font-size: 20px;
}

.closeBtn:hover {
    color: lightgray;
}

.tableRow{
    overflow-x: auto;
}

.tableCell {
    width: 100;
}
