.logo {
<<<<<<< HEAD
    width: auto;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
=======
    width: 200px;
    height: 200px;
>>>>>>> d9c6addfee5f1a2cefad91dd019f1d30449d61a9
}

.logoSection{
    width: 100%;
    text-align: center;
}

.findBtnSection {
    text-align: center;
}

.findIdBtn, .findPwBtn {
    font-size: 15px;
<<<<<<< HEAD
    margin-right: 20px;
=======
    margin-left: 20px;
>>>>>>> d9c6addfee5f1a2cefad91dd019f1d30449d61a9
    font-weight: 100;
}
.mainSession{
    margin-left: 35%;
<<<<<<< HEAD
    margin-bottom: 50px;
=======
>>>>>>> d9c6addfee5f1a2cefad91dd019f1d30449d61a9
}

.inputFindLoginId {
    width: 40%;
}

.inputFindPassword {
    width: 53%;
}

.container {
    margin-top: 20px;
}

.okBtn:hover {
    color: black;
}
.oKBtnSection {
    margin-top: 20px;
}

.errorMsg {
    color: red;
    font-size: 13px;
}

.okMsg {
    color: green;
    font-size: 13px;
}

.goLoginBtnLink {
    text-decoration: none;
    color: white
}

.goLoginBtn:hover {
    color: black;
}

.modalMainDiv {
    text-align: center;
}

.closeBtn {
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    color: gray;
}

.closeBtn:hover {
    color: red;
}

.loginId {
    font-weight: 400;
    font-size: 40px;
    color: green;
}
