.container {
    max-width: 900px; /* 가로 */
    margin: 0 auto;
    margin-top: 30px;
    padding: 25px 0px;

    z-index: 1;
    color: #222222;
}

.flexContainer {
    display: flex;
}

.infoContainer {
    width: 800px;
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 600px;
    margin-right: 10px;
}

.info {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.2);
}

.reservationContainer{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    max-height: 800px;
    margin-left: 10px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.2);
}

.reservationFee {
    background-color: #4caf50;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    text-decoration: none;
    margin: 8px 2px;
    padding: 10px 40px;
    font-weight: 500;
    text-align: center;
}

.reservationFeeFont {
    display: inline;
    background-color: rgb(46, 185, 46);
    margin-right: 10px;
    padding: 12px;
    font-size: 25px;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 600;
}

.off {
    text-decoration: line-through;
    color: #aaaaaa;
}

.separator {
    border: 0.4px solid #cccccc;
    width: 100%;
    margin: 20px 0;
}

.infoText {
    font-size: 15px;
    color: #333333;
    margin: 6px 2px;
}

.infoTitle {
    font-size: 22px;
    color: #333333;
    margin: 6px 2px;
}

.modalInfoText {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin: 18px 2px 15px 2px;
}

.buttonContainer {
    margin: 25px;

}

/* 이미지 크기 조절은 주석 참고 */

.imageSlideContainer {
    max-width: 900px; /* 가로 */
    margin-bottom: 40px;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.2);
  }
  
  .img {
    width: 100%; /* 이미지의 가로 길이를 100%로 유지 */
    max-height: 450px; /* 높이 */
  }

.btnDiv{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.btn {
    background: black;
    border: 1px solid black;
    width: 40%;
    margin-right: 20px;
}

.btn:hover {
    background: white;
    color: black;
}