/* 이미지 크기 조절은 주석 참고 */

.image-slide-container {
    max-width: 400px; /* 가로 */
    margin: 0 auto;
  }
  
  .img {
    width: 100%; /* 이미지의 가로 길이를 100%로 유지 */
    max-height: 150px; /* 높이 */
  }
  
  .slick-next,
  .slick-prev {
    font-size: 18px; /* 화살표 아이콘 크기 조절 */
    color: #000; /* 화살표 아이콘 색상 조절 */
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 위에서 50% 떨어진 위치로 설정 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
  }
  
  .slick-prev {
    left: 10px; /* 왼쪽 여백 조절 */
    z-index: 1; 
  }
  
  .slick-prev::before {
    content: "←";
  }
  
  .slick-next {
    right: 10px; /* 왼쪽 여백 조절 */
    z-index: 1; 
  }
  
  .slick-next::before {
    content: "→"; 
  }