.footer{
    /* margin-top: 20px; */
    background: #3a3a3a;
    height: 250px;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30%;
    /* position : relative; */
    bottom: 0;
    width: 100%;
    /* margin-top: 20px; */
    /* transform: transformY(-100%); */
    /* text-align: center; */
}

.container1{
    display: inline-block;
}
.container2{
    display: inline-block;
    margin-left: 50px;
}

.titleDiv{
    margin-top: 13px;
    text-align: center;
    width: 90%;
}

.title{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    /* text-decoration: none; */
}

.content{
    font-size: 12px;
    margin-left: 25px;
}

.emailTitle, .helpTitle, .addressTitle, .businessNumberTitle{
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    margin-right: 10px;
}

.emailContent, .helpContent, .addressContent, .businessNumberContent{
    font-size: 15px;
}

.notice{
    margin-top: 50px;
    margin-left: 20px;
}

.copyrightDiv {
    margin-top: 20px;
    font-size: 12px;
    margin-left: 15%;
}
