.input {
    width: 65%;
}

.genderRadioCotain{
    margin-left: 9%;
}

.genderText{
    margin-top: 10px;
    margin-right: 5px;
}

.div {
    margin-bottom: 20px;
    padding-left: 10%;
}

.logo{
    width: 200px;
    height: 200px;
}

.logoSection {
    width: 100%;
    text-align: center;
}

.terms {
    text-decoration: none;
    color: darkslategrey;
    font-weight: 550;
}

.terms:active{
    color: lightslategrey;
}

.section {
    padding: 40px;
    margin-left: 25%;
    width: 50%;
    /* border: 2px solid green; */
}

.singupBtnDiv {
    margin-top: 5px;
    margin-left: 32%;
}

.singupBtn:hover {
    color: black;
}


